.outer{
    display: flex;
    height:25rem;
    justify-content:center;
    margin-top: 5rem;
}
body{
    background-image: url("f1purp2.jpg");
    background-size: cover;
    background-color: rbga(255,255,255,0.4);
    background-color: rgb(98, 53, 149);
    z-index: 0;
}

.box{
    background-color: rgb(243, 247, 247);
    /* background:transparent;
    backdrop-filter:blur;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    position:relative;
    z-index:1;
    border-radius:2%;
    width:25rem;
    padding: 2px;
    display: flex;
    justify-content:center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#excl{
    font-size:2.7em;
    color:rgb(77, 1, 94);
    margin-top: 3px;
    animation: enlarge 1s ease-in-out infinite alternate;
}
@keyframes enlarge {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.box h2{
    color:rgb(54, 2, 65);
    margin-bottom:1px;
}

.box p{
    color:rgb(54, 2, 65);
    font-weight:700;
    display:flex;
    text-align: center;
    font-weight: 300;
    margin-left:50px;
    margin-right:50px;
    font-size:1.1em;
}

#mai_ic{
    font-size:1.7em;
    position: relative;
    /* margin-left:15%;
    margin-top:8%; */
    text-align: center;
}

.form{
    margin-top: 1em;
}
.mai_txt{
    width:15em;
    height:2em;
    border-radius: 5px solid transparent;
    margin-top:2em;
}

.mai_txt:hover{
    border:2px rgb(144, 143, 145) solid;
    border-radius: 5px;
}

.subm{
    width: 7em;;
    height:2em;
    margin-top:2em;
    margin-bottom:0.3px;
    margin-left:5.5em;
    color:rgb(244, 235, 217);
    border:transparent;
    border-radius: 1em;
    background-color:rgb(43, 4, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}
#back_ic{
    margin-top: 16%;
}

.back{
    text-decoration:none;
    margin-top: 20%;
    color:rgb(54, 2, 65);
    font-size:1.1em;
}

.Backlog{
    /* margin-top:3em; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: #b31727;
    font-weight: 1000;
    font-size: 14px;
    margin-top: 17px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width:  450px) {
    .box1{
        background-color: rgb(243, 247, 247);
        /* background-color: aquamarine; */
        padding-left: 3px;
        height:500px;
    }
    .outer{
        display: block;
        height: 100vh;
        margin-top: 103px;
    }
}

