body{
    /* background-color: rgb(241, 225, 228); */
    background-image:  url("f1purp2.jpg");
    background-size: cover;
}
/* .panel{
    background-color: rgb(49, 4, 88);
    width:100%;
    height:28px;
} */

.outer{
    /* display: flex;
    justify-content: center;
    margin-top: 5rem; */
    display: flex;
    height:30rem;
    justify-content:center;
    margin-top: 5rem;
}
.box1{
    display: flex;
    flex-direction: column;
    width:22.8rem;
    /* background-color: white;   */

    flex-wrap: wrap;
    /* background-color:  rgb(248, 237, 241);  */
    background-color: white;
    /* background:transparent;
    backdrop-filter:blur; */
    /* box-shadow: 0 0 10px white; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    /* width: max-content; */
    border-radius: 9px;

}

.login_s{
    color:rgb(49, 4, 88);
    display: flex;
    gap: 6px;
    /* justify-content: center; */
    align-items: center;
    opacity: 0;
    animation: appear 2.3s ease-in-out forwards;
    
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icon1{  
    font-size:2em;
}
.tex1{
    
    font-size:1.3em;
}                                           

.ip1{
    
    height:25px;
    width:12rem;
    border-radius:2px;
    border:1px solid black;
}

.ip2{
    margin-top:10%;
    height:25px;
    width:12rem;
    margin-left: 4em;
    border-radius:2px;
    border:1px solid black;
}
#ipo:hover{
    border:2px solid rgb(90, 88, 91);

}
#ipo{
    margin-left: 5.5em;
    height:25px;
    width:12rem;
    margin-top: 1.5em;
}

#ip{
    margin-left: 5.5em;
    margin-top: 1.5em;
    height:25px;
    width:12rem;
}

/* login form section */
.log{
    
    width:50%;
    height:30px;
    margin-top: 2em;
    margin-left:5.3em;
    border-radius:20px;
    background-color: rgb(43, 4, 79);
    display:flex;
    justify-content: center;
    align-items: center;
}

.forgot {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.forgot a{
    text-decoration: none;
}

.create {
    width:10em;
    height:20px;
    margin-top: 1rem;
    border:1.2px  rgb(43, 4, 79) solid;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:400;
}

.create:hover{
    border:2.5px rgb(11, 7, 15) solid;
}
.create a{
    text-decoration: none;
}
#messageContainer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    display: none;
}

@media only screen and (max-width:  450px) {
    .box1{
        background-color: white;
        /* background-color: aquamarine; */
        padding-left: 3px;
    }
    .outer{
        display: block;
        height: 100vh;
        margin-top: 103px;
    }
}

.error-message {
    color: #b31727;
    font-weight: 1000;
    font-size: 14px;
    margin-top: 17px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}