

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="user.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <img src="cartoon.jpg" alt="Profile Picture">
            <div class="user-info">
                <h2>Nidhi chaudhari</h2>
                <p><strong>Email:</strong> user@example.com</p>
                <p><strong>password:</strong>password</p>
                <p><strong>Address:</strong> 123 Street, City, State, 12345</p>
                <p><strong>Education:</strong> Bachelor's Degree in Computer Science (Year of Graduation: 2025)</p>
                <button class="logout-btn">Logout</button>
                <button class="Edit">Edit</button>
            </div>
        </div>
    </div>
</body>
</html>
